/* FONTS */

@font-face {
  font-family: "Montserrat Regular";
  src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto Italic";
  src: url(/fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: "Roboto Light";
  src: url(/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto Medium";
  src: url(/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto Regular";
  src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Thin";
  src: url(/fonts/Roboto-Thin.ttf);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat Regular", sans-serif;
  &.border-bottom{
    border-bottom:1px solid $gray-light;
    padding: 10px 15px;
  }
}

h1 {
  margin: 0 0 30px 0;
  font-size: 28px;
}

p {
  margin: 1em 0;
  text-align: center;
}

.text-center {
  text-align: center;
}
