//color vars
$black-30:        rgba(0, 0, 0, .3);
$ebony-clay:      rgb(36, 40, 62);
$congress-blue:   rgb(0, 67, 128);
$seagull:         rgb(121, 191, 232);
$blue:            rgb(26, 119, 185);
$blue-light:      rgb(7, 143, 219);
$gray-dust:       rgb(245, 246, 250);
$gray-dark:       rgb(106, 106, 106);
$gray:            rgb(173, 178, 181);
$gray-light:      rgb(209, 209, 212);
$green:           rgb(142, 197, 73);
$green-light:     rgb(159, 219, 85);
$white:           rgb(255, 255, 255);



