.rail-nav {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#24283e), to(#004380));
  background-image: linear-gradient(#24283e, #004380);
  position: fixed;
  left: 0;
  width: 72px;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 16px;
}

.rail-nav .icon {
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 10px;
  text-align: center;
}

.rail-nav svg {
  display: inline-block;
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 36px;
}

.rail-nav .icon.active path,
.rail-nav .icon:hover path {
  stroke: #79bfe8;
}

a svg:hover {
  fill: #8EC549;
}

